@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "About Us";
}

<h1>@Localizer["Day-to-day management"]</h1>


<div>
    <h3>@Localizer["President"]</h3>
    <p>
        Edwin Van Geert <br />
        De Merodestraat 13 <br />
        1850 Grimbergen <br />
        02 270 33 11    
    </p>
</div>

<div>
    <h3>@Localizer["Secritary"]</h3>
    <p>
        Christiane Van Nieuwenhuysen <br />
        Poddegemstraat 12 <br />
        1850 Grimbergen <br />
        02 270 97 61
    </p>
</div>

<div>
    <h3>@Localizer["Treasurer"]</h3>
    <p>
        Claudine Somers <br />
        Beigemsesteenweg 41 <br />
        1850 Grimbergen <br />
        02 269 00 41
    </p>
</div>

