@{
    ViewData["Title"] = "Register";
}
@using ExamenAdam.Identity.Models
@model RegisterModel
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@if (@Model.Errors != null)
{
    foreach (var error in @Model.Errors)
    {
        <p><i>@error.ToString()</i></p>
    }
}
<br />
<form asp-action="Register">

    <label for="Username">Username:</label>
    <input asp-for="UserName" />
    <br />
    <span asp-validation-for="UserName"></span>
    <br />
    <label for="Email">Email:</label>
    <input type="email" asp-for="Email" />
    <br />
    <span asp-validation-for="Email"></span>
    <br />
    <label for="Password">Password:</label>
    <input type="text" asp-for="Password" />
    <br />
    <span asp-validation-for="Password"></span>
    <br />
    <label for="FirstName">First name:</label>
    <input asp-for="FirstName" />
    <br />
    <span asp-validation-for="FirstName"></span>
    <br />
    <label for="LastName">Last name:</label>
    <input asp-for="LastName" />
    <br />
    <span asp-validation-for="LastName"></span>
    <br />
    <label for="Birthdaty">Birthday:</label>
    <input type="date" asp-for="Birthday" />
    <br />
    <span asp-validation-for="Birthday"></span>
    <br />
    <label for="PhoneNumber">Phone number:</label>
    <input asp-for="PhoneNumber" />
    <br />
    <span asp-validation-for="PhoneNumber"></span>
    <br />
    <label for="Sex">Sex:</label>
      <select name="Sex" id="Sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <br />
    <span asp-validation-for="Sex"></span>
    <br />
    <label for="Street">Street:</label>
    <input type="text" asp-for="Address.StreetName" />
    <br />
    <span asp-validation-for="Address.StreetName"></span>
    <br />
    <label for="Number">number:</label>
    <input type="text" asp-for="Address.StreetNumber" />
    <br />
    <span asp-validation-for="Address.StreetNumber"></span>
    <br />
    <label for="Bus">Bus:</label>
    <input type="text" asp-for="Address.PostalBus" />
    <br />    
    <br />
    <label for="PostalCode">Postal code:</label>
    <input type="text" asp-for="Address.PostalCode" />
    <br />
    <span asp-validation-for="Address.PostalCode"></span>
    <br />
    <label for="City">City:</label>
    <input type="text" asp-for="Address.City" />
    <br />
    <span asp-validation-for="Address.City"></span>
    <br />
    <label for="Country">Country:</label>
    <input type="text" asp-for="Address.Country" />
    <br />
    <span asp-validation-for="Address.Country"></span>
    <br />
    <button>Create new user</button>
</form>