@{
    ViewData["Title"] = "Register";
}
@using ExamenAdam.Identity.Models
@model SignUpModel

<form asp-action="Register">

    <label for="Username">Username:</label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br /><br />
    <label for="Email">Email:</label>
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <br /><br />
    <label for="Password">Password:</label>
    <input type="text" asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br /><br />
    <label for="Birthdaty">Birthday:</label>
    <input type="date" asp-for="Birthday" />
    <span asp-validation-for="Birthday"></span>
    <br /><br />
    <label for="Sex">Sex:</label>
      <select name="Sex" id="Sex">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    <span asp-validation-for="Sex"></span>
    <br /><br />
    <label for="Street">Street:</label>
    <input type="text" asp-for="Address.StreetName" />
    <span asp-validation-for="Address"></span>
    <br /><br />
    <label for="Number">number:</label>
    <input type="text" asp-for="Address.StreetNumber" />
    <span asp-validation-for="Address"></span>
    <br /><br />
    <label for="Bus">Bus:</label>
    <input type="text" asp-for="Address.PostalBus" />
    <span asp-validation-for="Address"></span>
    <br /><br />
    <label for="PostalCode">Postal code:</label>
    <input type="text" asp-for="Address.PostalCode" />
    <span asp-validation-for="Address"></span>
    <br /><br />
    <label for="City">City:</label>
    <input type="text" asp-for="Address.City" />
    <span asp-validation-for="Address"></span>
    <br /><br />
    <label for="Country">Country:</label>
    <input type="text" asp-for="Address.Country" />
    <span asp-validation-for="Address"></span>
    <br /><br />
    <button>Create new user</button>
</form>